<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="/css/all.css" rel="stylesheet" />
  <link href="/css/bulma.css" rel="stylesheet" />
  <script src="/js/all.js"></script>
  <script src="/js/vue.js"></script>
  <title>My ToDo List</title>
</head>
<style>
  #inputBlack:after {
    width: 25px;
    height: 25px;
    border-radius: 15px;
    top: -5px;
    left: -6px;
    position: relative;
    background-color: black;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid black;
  }

  #inputBlack:checked:after {
    width: 25px;
    height: 25px;
    border-radius: 15px;
    top: -5px;
    left: -6px;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 6px solid black;
  }

  #inputRed:after {
    width: 25px;
    height: 25px;
    border-radius: 15px;
    top: -5px;
    left: -6px;
    position: relative;
    background-color: red;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid red;
  }

  #inputRed:checked:after {
    width: 25px;
    height: 25px;
    border-radius: 15px;
    top: -5px;
    left: -6px;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 6px solid red;
  }

  #inputGreen:after {
    width: 25px;
    height: 25px;
    border-radius: 15px;
    top: -5px;
    left: -6px;
    position: relative;
    background-color: green;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid green;
  }

  #inputGreen:checked:after {
    width: 25px;
    height: 25px;
    border-radius: 15px;
    top: -5px;
    left: -6px;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 6px solid green;
  }
</style>

<body>
  <section id="app">
    <div class="container">
      <section class="hero">
        <div class="hero-body">
          <p class="title">
            My ToDo List
            <button class="button is-primary" @click="showModalList">+</button>
          </p>
          <!-- <p class="subtitle">Hero subtitle</p> -->
        </div>
      </section>
      <p class="subtitle my-2">
        Completed: {{numComplete}} Incomplete: {{numIncomplete}}
      </p>
      <p class="subtitle my-2">
        Flagged: {{numFlag}}
      </p>
      <template v-for="list in todoLists">
        <div class="columns">
          <div class="column is-8" :key="keyCheck">
            <div class="columns">
              <div class="column is-1">
                <h1 style="font-size: 20px;">{{list.name}}</h1>
              </div>
              <div class="column is-1">
                <button class="button is-primary" @click="editList(list)">Edit</button>
              </div>
              <div class="column is-1">
                <button class="button is-danger" @click="modaldeleteList(list)">Delete</button>
              </div>
            </div>
            <div class="box level py-3 my-2" v-for="item in arr" v-if="item.listId == list.id">
              <div class="control">
                <label class="checkbox" v-bind:style="addStyle(item)">
                  <input type="checkbox" v-model="item.check" @click="saveCheckbox(item), hideTask(list.id)" />
                  {{item.name}}
                  <template v-for="sty in customArr">
                    <template v-if="sty.id == item.id">
                      <template v-if="sty.dueDate != ''">
                        ( Due date {{sty.dueDate}} )
                      </template>
                      <template v-if="sty.flagStatus == true">
                        <i class="fas fa-flag"></i>
                      </template>
                    </template>
                  </template>
                </label>
              </div>
              <div class="level-right">
                <span class="icon is-small" @click="edit(item)">
                  <i class="fas fa-edit"></i>
                </span>
                <span class="icon is-small ml-5" @click="removeTask(item, item.id)">
                  <i class="fas fa-trash-alt"></i>
                </span>
              </div>
            </div>
          </div>
          <template v-for="hf in hideFlag">
            <div class="column is-4 mt-6" v-if="hf.id == list.id">
              <div class="card">
                <header class="card-header has-background-primary">
                  <p class="card-header-title">Filter</p>
                  <p class="card-header-icon">
                    <span class="card-header-icon icon">
                      <i class="fas fa-filter"></i>
                    </span>
                  </p>
                </header>
                <div class="card-content">
                  <div class="content">
                    <div class="control">
                      <label class="checkbox">
                        <input type="checkbox" @click="test(list.id)" />
                        Hide completed tasks
                      </label>
                    </div>
                    <div class="control">
                      <label class="checkbox">
                        <input type="checkbox" @click="test2(list.id)" />
                        Show only flagged tasks
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mt-5">
                <header class="card-header has-background-primary">
                  <p class="card-header-title">Sort</p>
                  <p class="card-header-icon">
                    <span class="card-header-icon icon">
                      <i class="fas fa-filter"></i>
                    </span>
                  </p>
                </header>
                <div class="card-content">
                  <div class="content">
                    <div class="control">
                      <label class="radio">
                        <input type="radio" value="alpha" @click="sortalpha(list.id)" v-model="hf.sort" />
                        Sort alphabetically
                      </label>
                    </div>
                    <div class="control">
                      <label class="radio">
                        <input type="radio" value="incompletefirst" v-model="hf.sort"
                          @click="sortincomplete(list.id)" />
                        Sort incomplete task first
                      </label>
                    </div>
                    <div class="control">
                      <label class="radio">
                        <input type="radio" value="flagfirst" @click="sortFlag(list.id)" v-model="hf.sort" />
                        Sort flaged taskt first
                      </label>
                    </div>
                    <div class="control">
                      <label class="radio">
                        <input type="radio" value="date" @click="sortDate(list.id)" v-model="hf.sort" />
                        Sort by due date (ascending)
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </template>
        </div>
      </template>
      <div class="columns mt-5">
        <div class="columns">
          <div class="column is-12">
            <h1 style="font-size: 40px;">Add New Task</h1>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column is-3">
          <div class="control">
            <input type="text" class="input" placeholder="Task Name" v-model="newName">
          </div>
        </div>
        <div class="column is-2">
          <div class="select">
            <select v-model="selectList">
              <option>--Select List--</option>
              <option v-for="list in todoLists" :value="list.id">{{list.name}}</option>
            </select>
          </div>
        </div>
        <div class="column is-2">
          <input type="date" id="duedate" name="duedate" v-model="date" class="input">
        </div>
        <div class="column is-1">
          <label class="checkbox mt-2">
            <input type="checkbox" v-model="flagStatus">
            Flag
          </label>
        </div>
        <div class="column is-2">
          <input class="mr-6 mt-2" id="inputBlack" type="radio" value="Black" v-model="iconColor">
          <input class="mr-6 mt-2" id="inputRed" type="radio" value="Red" v-model="iconColor">
          <input class="mt-2" id="inputGreen" type="radio" value="Green" v-model="iconColor">
        </div>
        <div class="column is 2">
          <button class="button is-primary" @click="addTask">Save</button>
        </div>
      </div>
      <div class="modal" :class="{'is-active' : show_modalName}">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Edit Task</p>
            <button class="delete" aria-label="close" @click="show_modalName = !show_modalName"></button>
          </header>
          <section class="modal-card-body">
            <div class="columns">
              <div class="column is-9">
                <input class="input" type="text" placeholder="Task Name" v-model="input_edit" />
              </div>
              <div class="column is-3 mt-2">
                <select v-model="edit_selectList">
                  <option>--Select List--</option>
                  <option v-for="list in todoLists" :value="list.id">{{list.name}}</option>
                </select>
              </div>
            </div>
            <div class="columns">
              <div class="column is-4">
                <input type="date" id="duedate" name="duedate" class="input" v-model="edit_date">
              </div>
              <div class="column is-2">
                <label class="checkbox mt-2">
                  <input type="checkbox" v-model="edit_flagStatus">
                  Flag
                </label>
              </div>
              <div class="column is-4">
                <input class="mr-6 mt-2" id="inputBlack" type="radio" value="Black" v-model="edit_iconColor">
                <input class="mr-6 mt-2" id="inputRed" type="radio" value="Red" v-model="edit_iconColor">
                <input class="mt-2" id="inputGreen" type="radio" value="Green" v-model="edit_iconColor">
              </div>
              <div class="column is-2">
                <button class="button is-success" @click="saveName">Save</button>
              </div>
            </div>
          </section>
          <footer class="modal-card-foot">
          </footer>
        </div>
      </div>
      <div class="modal" :class="{'is-active' : show_delete}">
        <div class="modal-background"></div>
        <div class="modal-card">
          <section class="modal-card-body">
            Are you sure you want to delete "{{deleteName}}" ?
          </section>
          <footer class="modal-card-foot">
            <button class="button is-danger" @click="confirmDelete">Confirm</button>
            <button class="button" @click="show_delete = !show_delete">Cancel</button>
          </footer>
        </div>
      </div>
      <div class="modal" :class="{'is-active' : show_addList}">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">New List</p>
            <button class="delete" aria-label="close" @click="show_addList = !show_addList"></button>
          </header>
          <section class="modal-card-body">
            <input class="input" type="text" placeholder="Task Name" v-model="createList" />
          </section>
          <footer class="modal-card-foot">
            <button class="button is-success" @click="addList">Save</button>
          </footer>
        </div>
      </div>
      <div class="modal" :class="{'is-active' : show_editList}">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Edit List</p>
            <button class="delete" aria-label="close" @click="show_editList = !show_editList"></button>
          </header>
          <section class="modal-card-body">
            <input class="input" type="text" placeholder="List Name" v-model="edit_listName" />
          </section>
          <footer class="modal-card-foot">
            <button class="button is-success" @click="saveEditList">Save</button>
          </footer>
        </div>
      </div>
      <div class="modal" :class="{'is-active' : show_deleteList}">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Delete List</p>
            <button class="delete" aria-label="close" @click="show_deleteList = !show_deleteList"></button>
          </header>
          <section class="modal-card-body">
            Are you sure that you want to delete "{{keep_deleteList.name}}" list ?
          </section>
          <footer class="modal-card-foot">
            <button class="button is-danger" @click="deleteList">Ok</button>
            <button class="button" @click="show_deleteList = !show_deleteList">Cancel</button>
          </footer>
        </div>
      </div>
    </div>
  </section>
  <script>
    var app = new Vue({
      el: "#app",
      data: {
        idCount: 0,
        idList: 0,
        keep_idList: 0,
        keep_deleteList: 0,
        newName: "",
        editName: "",
        deleteName: "",
        createList: "",
        selectList: "--Select List--",
        edit_selectList: "",
        edit_date: "",
        edit_flagStatus: false,
        edit_iconColor: "Black",
        edit_listName: "",
        deleteObj: "",
        date: "",
        flagStatus: false,
        iconColor: "Black",
        input_edit: "",
        line: "line-through",
        arrItem: [],
        todoLists: [],
        customArr: [],
        hideFlag: [],
        defaultarr: [],
        show_modalName: false,
        keyCheck: 0,
        show_delete: false,
        show_addList: false,
        show_editList: false,
        show_deleteList: false
      },
      methods: {
        addTask: function () {
          if (this.selectList == "--Select List--") {
            alert("โปรดเลือก list")
            return 0
          }
          if (this.newName == "") {
            alert("โปรดใส่ชื่อ")
            return 0
          }
          else {
            this.idCount++
            this.arrItem.push({
              id: this.idCount,
              name: this.newName,
              check: false,
              listId: this.selectList
            })
            this.customArr.push({
              id: this.idCount,
              dueDate: this.date,
              flagStatus: this.flagStatus,
              color: this.iconColor,
              listId: this.selectList
            })
            this.newName = ""
            this.date = ""
            this.flagStatus = false
            this.iconColor = "Black"
            this.defaultarr = this.arrItem
          }
        },
        edit(item) {
          this.show_modalName = !this.show_modalName
          this.editName = item
          this.input_edit = item.name
          this.edit_selectList = item.listId
          for (var i of this.customArr) {
            if (i.id == item.id) {
              this.edit_date = i.dueDate
              this.edit_flagStatus = i.flagStatus
              this.edit_iconColor = i.color
            }
          }
        },
        saveName() {
          if (this.editName != "" && this.input_edit != "") {
            for (var i of this.arrItem) {
              if (i.name === this.editName.name) {
                i.name = this.input_edit
                i.listId = this.edit_selectList
              }
            }
            for (var i of this.customArr) {
              if (i.id === this.editName.id) {
                i.dueDate = this.edit_date
                i.flagStatus = this.edit_flagStatus
                i.color = this.edit_iconColor
                i.listId = this.edit_selectList
              }
            }
            this.flagTask(this.edit_selectList)
            this.keyCheck++
            this.show_modalName = !this.show_modalName
          }
          else {
            alert("โปรดใส่ชื่อ")
          }
        },
        removeTask: function (item) {
          this.show_delete = !this.show_delete
          this.deleteName = item.name
          this.deleteObj = item
        },
        confirmDelete: function () {
          this.keyCheck++
          let idx = this.arrItem.indexOf(this.deleteObj)
          for (var i of this.customArr) {
            if (this.arrItem[idx].id == i.id) {
              this.arrItem.splice(idx, 1)
              this.customArr.splice(this.customArr.indexOf(i), 1)
            }
          }
          this.defaultarr = this.arrItem
          this.show_delete = !this.show_delete
        },
        saveCheckbox: function (item) {
          item.check = !item.check
        },
        showModalList: function () {
          this.show_addList = !this.show_addList
        },
        addList: function () {
          if (this.createList == "") {
            alert("โปรดใส่ชื่อ")
          }
          else {
            this.todoLists.push({
              id: this.idList++,
              name: this.createList
            })
            this.hideFlag.push({
              id: this.idList - 1,
              hide: false,
              flag: false,
              sort: "alpha"
            })
            this.createList = ""
            this.show_addList = !this.show_addList
          }
        },
        addStyle: function (item) {
          for (var i of this.customArr) {
            if (item.id == i.id) {
              return {
                'text-decoration': item.check ? 'line-through' : 'none',
                'color': i.color
              }
            }
          }
        },
        editList: function (list) {
          this.show_editList = !this.show_editList
          this.edit_listName = list.name
          this.keep_idList = list.id
        },
        saveEditList: function () {
          for (var i of this.todoLists) {
            if (this.edit_listName == "") {
              alert("โปรดใส่ชื่อ")
              return
            }
            if (i.id == this.keep_idList) {
              i.name = this.edit_listName
              this.show_editList = !this.show_editList
            }
          }
        },
        modaldeleteList: function (list) {
          this.show_deleteList = !this.show_deleteList
          this.keep_deleteList = list
        },
        deleteList: function () {
          this.arrItem = this.arrItem.filter(item => item.listId != this.keep_deleteList.id)
          this.customArr = this.customArr.filter(item => item.listId != this.keep_deleteList.id)
          this.todoLists = this.todoLists.filter(item => item.id != this.keep_deleteList.id)
          this.keyCheck++
          this.show_deleteList = !this.show_deleteList
          this.defaultarr = this.arrItem
          if(this.todoLists == []){
            this.selectList = "--Select List--"
          }
        },
        test: function(id){
          this.hideFlag[id].hide = !this.hideFlag[id].hide
          this.hideTask(id)
          console.log("test")
        },
        test2: function(id){
          this.hideFlag[id].flag = !this.hideFlag[id].flag
          this.flagTask(id)
        },
        hideTask: function (id) {
          this.arrItem = this.defaultarr
          let keep = []
          for (var i of this.hideFlag) {
            if (i.hide && i.flag == false) {
              for (var j of this.arrItem) {
                if (j.listId == i.id && j.check == false) {
                  keep.push(j)
                }
              }
            }
            else if (i.hide && i.flag){
              for (var j of this.arrItem) {
                for (var k of this.customArr) {
                  if (j.id == k.id && k.flagStatus == true && k.listId == i.id && j.check == false) {
                    keep.push(j)
                  }
                }
              }
            }
            else if(i.hide == false && i.flag){
              for (var j of this.arrItem) {
                for (var k of this.customArr) {
                  if (j.id == k.id && k.flagStatus == true && k.listId == i.id) {
                    keep.push(j)
                  }
                }
              }
            }
            else {
              for (var j of this.arrItem) {
                if (j.listId == i.id) {
                  keep.push(j)
                }
              }
            }
          }
          this.keyCheck++
          this.arrItem = keep
        },
        flagTask: function (id) {
          this.arrItem = this.defaultarr
          let keep = []
          for (var i of this.hideFlag) {
            if (i.flag && i.hide == false) {
              for (var j of this.arrItem) {
                for (var k of this.customArr) {
                  if (j.id == k.id && k.flagStatus == true && k.listId == i.id) {
                    keep.push(j)
                  }
                }
              }
            }
            else if(i.flag && i.hide){
              for (var j of this.arrItem) {
                for (var k of this.customArr) {
                  if (j.id == k.id && k.flagStatus == true && k.listId == i.id && j.check == false) {
                    keep.push(j)
                  }
                }
              }
            }
            else if(i.flag == false && i.hide){
              for (var j of this.arrItem) {
                if (j.listId == i.id && j.check == false) {
                  keep.push(j)
                }
              }
            }
            else {
              for (var j of this.arrItem) {
                if (j.listId == i.id) {
                  keep.push(j)
                }
              }
            }
          }
          this.keyCheck++
          this.arrItem = keep
        },
        sortalpha: function (id) {
          let keep = []
          this.hideFlag[id].sort = "alpha"
          this.arrItem.sort(function (a, b) {
            if (a.listId < b.listId) {
              return -1
            }
            if (a.listId > b.listId) {
              return 1
            }
            return 0
          })
          for (var i of this.arrItem) {
            if (i.listId == id) {
              keep.push(i)
            }
          }
          keep.sort(function (a, b) {
            if (a.name < b.name) {
              return -1
            }
            if (a.name > b.name) {
              return 1
            }
            return 0
          })
          for (var i of this.arrItem) {
            if (i.listId != id) {
              keep.push(i)
            }
          }
          this.keyCheck++
          this.arrItem = keep
        },
        sortincomplete: function (id) {
          let keep = []
          this.hideFlag[id].sort = "incompletefirst"
          this.arrItem.sort(function (a, b) {
            if (a.listId < b.listId) {
              return -1
            }
            if (a.listId > b.listId) {
              return 1
            }
            return 0
          })
          for (var i of this.arrItem) {
            if (i.listId == id) {
              keep.push(i)
            }
          }
          keep.sort(function (a, b) {
            if (a.check < b.check) {
              return -1
            }
            if (a.check > b.check) {
              return 1
            }
            return 0
          })
          for (var i of this.arrItem) {
            if (i.listId != id) {
              keep.push(i)
            }
          }
          this.keyCheck++
          this.arrItem = keep
        },
        sortFlag: function (id) {
          let keep = []
          let keepflag = []
          let keepflag2 = []
          this.hideFlag[id].sort = "flagfirst"
          this.arrItem.sort(function (a, b) {
            if (a.listId < b.listId) {
              return -1
            }
            if (a.listId > b.listId) {
              return 1
            }
            return 0
          })
          for (var i of this.customArr) {
            if (i.flagStatus && i.listId == id) {
              keepflag.push(i.id)
            }
          }
          for (var i of this.customArr) {
            if (i.flagStatus == false || i.listId != id) {
              keepflag2.push(i.id)
            }
          }
          for (var i of this.arrItem) {
            for (var j of keepflag) {
              if (i.id == j) {
                keep.push(i)
              }
            }
          }
          for (var i of this.arrItem) {
            for (var j of keepflag2) {
              if (i.id == j) {
                keep.push(i)
              }
            }
          }
          this.keyCheck++
          this.arrItem = keep
        },
        sortDate: function (id) {
          console.log("use4")
          this.hideFlag[id].sort = "date"
          let keep = []
          let keepdate = []
          for(var i of this.customArr){
            if(i.listId == id && i.dueDate != ""){
              keepdate.push(i)
            }
          }
          keepdate.sort(function (a,b){
            if(a.dueDate < b.dueDate){
              return -1
            }
            if(a.dueDate > b.dueDate){
              return 1
            }
            return 0
          })
          for(var i of keepdate){
            for(var j of this.arrItem){
              if(i.id == j.id){
                keep.push(j)
              }
            }
          }
          for(var i of this.arrItem){
            let count = 0
            for(var j of keepdate){
              if(i.id == j.id){
                count++
              }
            }
            if(count == 0){
              keep.push(i)
            }
          }
          for(var i of keep){
            console.log(i.id)
          }
          this.keyCheck++
          this.arrItem = keep
        }
      },
      computed: {
        numComplete() {
          let ans = 0
          for (let i = 0; i < this.defaultarr.length; i++) {
            if (this.defaultarr[i].check) {
              ans++
            }
          }
          return ans
        },
        numIncomplete() {
          let ans = 0
          for (let i = 0; i < this.defaultarr.length; i++) {
            if (this.defaultarr[i].check == false) {
              ans++
            }
          }
          return ans
        },
        numFlag() {
          let ans = 0
          for (var i of this.customArr) {
            if (i.flagStatus) {
              ans++
            }
          }
          return ans
        },
        arr() {
          this.keyCheck++
          for (var i of this.hideFlag) {
            if (i.sort == "alpha") {
              this.sortalpha(i.id)
            }
            else if (i.sort == "incompletefirst") {
              this.sortincomplete(i.id)
            }
            else if (i.sort == "flagfirst"){
              this.sortFlag(i.id)
            }
            else if (i.sort == "date"){
              this.sortDate(i.id)
            }
          }
          return this.arrItem
        }
      }
    });
  </script>
</body>

</html>